
.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }

.icon {
    padding: 10px;
    background: rgb(240, 241, 243);
    color: rgb(68, 67, 67);
    min-width: 30px;
    text-align: center;
    margin: 8px 0;
  }
  
  .input-field {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline: none;
  }
  
  .input-field:focus {
    border: 2px solid dodgerblue;
  }